<header>
  <div class="header-block">
    <div class="main-title">
      <h1>
        Recipe Generator
      </h1>
    </div>

    <nav class="navbar">
      <a href="">
        About this app
      </a>
      <a href="">
        About me
      </a>
      <a href="">
        Other apps
      </a>
    </nav>
  </div>
</header>

<main>
  <div class="main-text">
    <p class="questions-intro">
      Don't know what cook with what you have in kitchen? Can't find inspiration to create delicious food for your couple or friends? Tired of cooking the same everyday?
    </p>
    <p>
      Please, don't be in panic and try this app that helps you to get excellent recipes with any ingridient. Just one thing, read carefully the preparations and eat at your own risk
    </p>
  </div>

  <div class="food-images">

  </div>

  <div class="input-recipe">
    <h2>
      Type here your ingridients:
    </h2>
    <input type="text">
    <p>
      And here is your recipe:
    </p>
  </div>

  <div class="recipe">
    <p></p>
    <h2>
      Enjoy!
    </h2>
  </div>
</main>
