// All page font
div {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

// Header
.header-block {
  background-image: url('../assets/images/Header.jpg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.main-title {
  font-size: 1.5vw;
  margin-left: 1.5vw;
}

.navbar {
  font-size: 1.2vw;
  padding-top: 4.5%;
  padding-bottom: 0.5%;
  padding-right: 1.5vw;
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 0.2vw;
  text-decoration: none;
  color: inherit;
}

.navbar-icon {
  width: 2.5vw;
}

.navbar-text:hover {
  font-size: larger;
}

//Main
.food-images{
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

.main-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 45%;
  background-color: rgba(138, 136, 136, 0.6);
  margin-left: 22%;
  margin-right: 22%;
  text-align: center;
  padding: 1%;
  border-radius: 20px;
}

.intro-text {
  font-size: x-large;
  font-weight: bolder;
}

.intro-text-message {
  font-size: large;
  font-weight: bold;
}

.food-images img {
  width: 25%;
}

.input-ingridients {
  text-align: center;
}

.typing-title {
  margin-top: 0px;
  margin-bottom: 1%;
  padding-top: 2%;
  color: white;
}

.submit-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  width: 20%;
}

button {
  padding: 8px;
  background-color: black;
  color: white;
  border: none;
  font-size: larger;
  border-radius: 5px;
  width: 13%;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: white;
  color: black
}

.result {
  background-color: rgba(138, 136, 136, 0.6);
  margin-left: 22%;
  margin-right: 22%;
  text-align: center;
  padding: 1%;
  border-radius: 20px;
}

.recipe {
  background-image: url('../assets/images/pexels-martin-lopez-1040685.jpg');
  background-size: cover;
}

.recipe p {
  color: white;
  font-size: large;
}
