<header>
  <!-- <img class="header-image" src="../assets/images/Header.jpg" alt="header"> -->
  <div class="header-block">
    <div class="main-title">
      <h1>
        Recipe Generator
      </h1>
    </div>

    <nav class="navbar">
      <a class="navbar-item" href="">
        <img class="navbar-icon" src="https://img.icons8.com/cotton/64/null/info--v1.png"/>
        <span class="navbar-text">
          About this app
        </span>
      </a>
      <a class="navbar-item" href="">
        <img class="navbar-icon" src="https://img.icons8.com/cotton/64/null/gender-neutral-user--v1.png"/>
        <span class="navbar-text">
          About me
        </span>
      </a>
      <a class="navbar-item" href="">
        <img class="navbar-icon" src="https://img.icons8.com/cotton/64/null/browser-window--v1.png"/>
        <span class="navbar-text">
          Other apps
        </span>
      </a>
      <!-- <a class="navbar-menu" href="">
        <img class="menu-img" src="https://img.icons8.com/officexs/16/null/xbox-menu.png">
      </a> -->
    </nav>
  </div>
</header>

<main class="main">
  <div class="food-images">
    <img src="../assets/images/pexels-jhon-marquez-2373520.jpg" alt="food" class="show">
    <img src="../assets/images/pexels-valeria-boltneva-842571.jpg" alt="food">
    <img src="../assets/images/pexels-vlada-karpovich-6947293.jpg" alt="food">
    <img src="../assets/images/pexels-rajesh-tp-1624487.jpg" alt="food" class="show">
  </div>

  <div class="main-text">
    <p class="intro-text">
      Don't know what cook with what you have in kitchen? Can't find inspiration to create delicious food for your couple or friends? Tired of cooking the same everyday?
    </p>

    <p class="intro-text-message">
      Please, don't be in panic and try this app that helps you to get excellent recipes with any ingridient. Just one thing, read carefully the preparations and eat at your own risk
    </p>
  </div>
</main>

<div class="recipe">
  <div class="input-ingridients">
    <h2 class="typing-title">
      Type here your ingridients (you can write in english or spanish):
    </h2>
    <div class="submit-data">
      <div>
        <textarea [(ngModel)]="ingredients" type="text" placeholder="1 potato, 2 potatoes, 300g of pork..."></textarea>
      </div>
      <div>
        <button (click)="obtainRecipe()" type="submit">See the magic</button>
      </div>
    </div>
    <p>
      And here is your recipe:
    </p>
  </div>

  <app-loader *ngIf="loader"></app-loader>

  <div class="result">
    <p>
      {{ recipe }}
    </p>
    <h2>
      Enjoy!
    </h2>
  </div>
</div>
